{% extends "catalog/base.html" %}
{ % load static %}
{% block content %}
<style>

  .animal-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .animal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }

  .animal-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px #ddd;
    max-width: 600px;
  }

  .animal-card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .animal-posted {
    text-align: left;
    padding-left: 4px;
    padding-bottom: 9px;
  }

  .like-dislike-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .like-button,
  .dislike-button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
  }

  .like-button i,
  .dislike-button i {
    margin-right: 5px;
  }

  .like-button span,
  .dislike-button span {
    margin-left: 5px;
  }

  /* Media query for small screens */
  @media only screen and (max-width: 767px) {
    .animal-container {
      padding-top: 60px;
    }
    .animal-card {
      max-width: 90%;
    }
  }

  .like-button {
  color: red;

  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}

.like-button.liked {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.like-button.liked:hover {
  background-color: #0069d9;
}

</style>




<div>
  <h2 style="text-align: center;margin-bottom: 5px;">Explore</h2>
{% if pets %}
  <div class="animal-container">
    {% for pet in pets %}
      <div class="animal-card">
        <div class="animal-name">{{ pet.pet_name }}</div>
        <div class="animal-posted">Posted by: {{ pet.uploaded_user }}</div>
        <div class="animal-description">{{ pet.description }}</div>
        <img src="{{ pet.pet_image.url }}" alt="{{ pet.pet_name }}">
        <div class="like-dislike-buttons">
          <form id="like-form" method="POST" action="{% url 'like_pet' pet.pk %}">
            {% csrf_token %}
            <button type="submit" class="like-button  {% if liked_by_user %}liked{% endif %}">
              {% if user in pet.likes.all %}
                <i class="fas fa-heart"></i>
              {% else %}
                <i class="far fa-heart"></i>
              {% endif %}
              <span>{{ pet.likes.count }}</span>
            </button>
          </form>
          <form method="POST" action="{% url 'dislike_pet' pet.pk %}">
            {% csrf_token %}
            <button type="submit" class="dislike-button">
              {% if user in pet.dislikes.all %}
                <i class="fas fa-thumbs-down"></i>
              {% else %}
                <i class="far fa-thumbs-down"></i>
              {% endif %}
              <span>{{ pet.dislikes.count }}</span>
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>There are no pets :(</p>
{% endif %}
</div>



{% endblock %}
